@import "../main.scss";

.container-inform {
  width: 95%;
}

.connect__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.connect__title-text {
  font-size: 150%;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: 1px solid green;
}

.connect__form-container {
  width: 60%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
}

.connect__forum-options {
  display: flex;
  justify-content: space-evenly;
}

.connect__forum-option {
  padding: 5px;
  color: white;
  background-color: rgb(39, 167, 39);
  padding: 0.6rem;
  border-radius: 0.7rem;
  border: none;
}

.connect__form-input {
  margin-top: 0.5rem;
  width: 100%;
  label {
    color: purple;
    border-bottom: 1px solid purple;
  }
}

.form-control {
  padding: 0;
}

.connect__form-submit {
  padding: 5px;
  color: black;
  background-color: rgba(8, 147, 163, 0.679);
  padding: 0.6rem;
  border-radius: 0.7rem;
  width: 50%;
  // border: 1px solid black;
}

.connect__comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect__comment-body {
  margin: 0.8rem;
  padding: 0.8rem;
  border: 1px solid grey;
}
