@import "../main.scss";

.home__card-row {
  height: 200px;
  position: relative;
}

.home__card-body {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__card-text {
  width: 90%;
  height: 25%;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  text-align: right;
  font-size: 170%;
}

