@import "../main.scss";

.container-inform {
    width: 95%
}

.inform__title-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inform__title {
    display: flex;
margin-left: 30%;
}

.inform__title-text {

}

.inform__modal-btn {

}

.inform__list-row {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    flex-wrap: nowrap;
    
}

.inform__list-img {
    flex: 30%;
    max-width: 35%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.inform__list-body {
    font-size: 110%;
    padding: 0px;
    flex: 70%;
}

.inform__list-header {
    font-size: 160%;
    position: relative;
}

.inform__list-caption {
    font-size: 110%;
}