@import "../main.scss";

.footer-container {
    width: 95%;
    margin-bottom: 1rem;
}

.footer__content {
    padding-top: 10px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.footer__icon {
    margin: 0;
    padding: 0;
    text-align: center;
}

.fa {
    color: green;
    background-color: white;
    border-radius: 0px;
  }