.card-img {
  max-height: 120px;
  max-width: 80px;
  height: auto;
  width: auto;
  margin-top: 15px;
  display: block;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.product-card {
  display: flex;
  flex-direction: column;
  flex: 0.33;
}

.product-img {
  display: flex;
}

.product-body {
  display: flex;
}

.product-body-title {
  display: flex;
}

.product-body-text {
  display: flex;
}
