/* .styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 25px;
  border: 2px black solid;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 4px;
}

textarea {
  width: 100%;
  min-height: 5em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.btn-success {
  float: right;
  padding: 7px 35px;
  display: inline-block;
  color: white;
  font-size: 18px;
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.form-header {
  width: 100%;
  text-align: center;
  margin-top: 0px;
} */
