.fa {
    color: green;
    background-color: white;
    border-radius: 0px;
  }
  .footer-row {
    padding-top: 10px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
  
  }
  
  .footer-container {
    width: 100%;
  
    
  }
  
  .footer-icon {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .btn-size {
    font-size: 20px;
    width: 100px;
  }
  